<section class="clear index-module section blocok__headline">


    {% if block.settings.title != blank %}
      <h2 class="section__title">{{ block.settings.title }}</h2>
    {% endif %}
     
</section> 

