      {% if product_on_sale %}
        <span class="product-item__price product-item__price--new" data-money-convertible>{{ product.first_available_variant.price | money_without_trailing_zeros  }}</span>
        <span class="product-item__price product-item__price--old" data-money-convertible>{{ product.first_available_variant.compare_at_price | money_without_trailing_zeros  }}</span>
      {% elsif product.price_varies %}
        {% assign formatted_min_price = product.price_min | money_without_trailing_zeros  %}
        <span class="product-item__price">{{ 'collection.product.from_price_html' | t: price: formatted_min_price }}</span>
      {% else %}
        <span class="product-item__price" data-money-convertible>{{ product.first_available_variant.price | money_without_trailing_zeros }}</span>
      {% endif %}