<div class="divider {% if block.settings.boss == true %}boss{% endif %}"></div>


{% schema %}
{
"name": "Diver",
"class": "divider-section",
"settings": [
  ],
  "presets": [
  {
  "category": "HTML",
  "name": "Divider"
  }
]
}
{% endschema %}