          {% if settings.navigation_mode == 'horizontal' %}
            <nav class="navigation-horizontal" role="navigation">
              {% include 'navigation_horizontal_lists', level: 0 %}
            </nav>
          {% endif %}