
<header class="page__header">
  {% include 'breadcrumb' %}

  <div class="page__header-wrapper">
    <div class="{{settings.gutter}} {{settings.container}}">
      <h1 class="page__title">{{ page.title }}</h1>
    </div>
  </div>
</header>

{% section 'contact' %}