
<div class="{{settings.gutter}} {{settings.container}}">
  	<div class="row"> 
        <div class="col-16-sm-12 col-16-sm-offset-3 col-16-md-12 col-16-md-offset-2">

        <header class="page__header">
          {% comment %}{% include 'breadcrumb' %}{% endcomment %}
              
        </header>

        <section class="page__content">

            <div class="rte">
              {{ page.content }}
            </div>

        </section>
      </div>
  </div>
</div>